<div class="flex justify-center space-x-4 mb-4">
  <a href="/auth/google" class="w-full max-w-xs"><img src="/assets/google-continue.svg" alt="google-auth" class="w-full"></a>
</div>

<div class="flex items-center mb-4">
  <hr class="flex-grow border-gray-300"/>
  <span class="mx-2 text-sm text-gray-400">or</span>
  <hr class="flex-grow border-gray-300"/>
</div>